.story-row {
    .story-header {
        border-bottom: 1px solid;

        .story-header-cell {
            justify-content: center;
        }
    }

    .story-row-table-content {
        border-bottom: 1px solid;
    }

    .rtv-cell {
        min-height: 30px;
    }
}
