.story {
    .rtv-row-content.story-row-table-content {
        border-bottom: 1px solid;

        height: auto;

        .story-row-table-content-cell {
            display: flex;
            align-items: center;
            position: relative;
            box-sizing: border-box;
            min-height: 40px;

            width: 200px;
        }
    }
}
